{% include "header.html" %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('../static/assets/img/about-bg.jpg')"
        xmlns="http://www.w3.org/1999/html">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <span class="subheading">This is what I do.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h1> Hello, I am Doniyorbek Karimov.</h1>

                <p>A passionate and enthusiastic python software developer with 2 years of experience.
                    I love new challenges and new projects that help me invest all my skills and experience into
                    succeeding them.</p>
                </br>
                <hr>
                <div class="new-div2">
                    <div class="exp">
                        <!-- <div> -->
                        <h3 style="text-align: center">EXPERIENCE.</h3>
                        <h4><strong>Freelance</br></strong>
                            (September 2021-April 2022)</h4>
                        <ul>
                            <li><em>Web development, telegram bots and </br> other web applications</em></li>
                            <li><em>Online sale applications</em></li>
                        </ul>
                        <h4><strong>Single Integrator - UZINFOCOM LLC</br>
                            (May 2022-Present)</strong></h4>
                        <ul>
                            <li><em>Python backend developer</em></li>
                            <li><em>Working with micro-services</em></li>
                        </ul>
                    </div>
                    </br>
                    <hr>
                    <div class="edu">
                        <h3 style="text-align: center">EDUCATION.</h3>
                        <h4><strong>Fergana Polytechnic Institute </strong></br>
                            (Bachelor`s degree in Economics)</h4>
                        <ul>
                            <li><strong>Department</strong>: <em>Management</em></li>
                            <li><strong>Period</strong>: <em>2015-2019</em></li>
                            <li><strong>Location</strong>: <em>Fergana, Uzbekistan</em></li>
                        </ul>
                        <h4><strong>Kyungsung International University</strong></br>
                            (Master of Arts in Economics)</h4>
                        <ul>
                            <li><strong>Department</strong>: <em>Economics & International Trade</em></li>
                            <li><strong>Period</strong>: <em>2019-2021</em></li>
                            <li><strong>Location</strong>: <em>Busan, South Korea</em></li>
                        </ul>
                    </div>
                    </br>
                    <hr>
                </div>
                </br>
                <table class="table table-striped" style="text-align: center">
                    <thead>
                    <h2 style="text-align: center">Tech skills </h2>
                    <tr>
                        <th scope="col"><h3>Backend</h3></th>
                        <th scope="col"><h3>Frontend</h3></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><em>Python</em>
                        </td>
                        <td><em>HTML</em>
                        </td>
                    </tr>
                    <tr>
                        <td><em>Django/Flask</em>
                        </td>
                        <td><em>CSS</em>
                        </td>
                    </tr>
                    <tr>
                        <td><em>FastAPI/Restframework</em>
                        </td>
                        <td><em>Bootstrap</em>
                        </td>
                    </tr>
                    <tr>
                        <td><em>Web parsing/Selenium</em>
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td><em>Telegram API</em>
                        </td>
                        <td>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </br>
                <table class="table table-striped" style="text-align: center">
                    <thead>
                    <tr>
                        <th scope="col"><h3>Database layer</h3></th>
                        <th scope="col"><h3>Version Control</h3></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><em>Postgresql</em>
                        </td>
                        <td><em>Git</em>
                        </td>
                    </tr>
                    <tr>
                        <td><em>SQLlite</em>
                        </td>
                        <td><em>Gitlab</em>
                        </td>
                    </tr>
                    <tr>
                        <td><em>MySQL</em>
                        </td>
                        <td><em>GitHub</em>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </br>
                <div class="edu">
                    <h2>Certificates.</h2>
                    <li><strong>freeCodeCamp</strong>: <em><a
                            href="https://freecodecamp.org/certification/fcc8157e856-3219-431e-b293-ffd267d2711b/scientific-computing-with-python-v7">Computing
                        with Python</a></em></li>
                    <li><strong>LinkedIn</strong>: <em><a href=" https://lnkd.in/dni9dTSr">Quick Start Guide to SQL</a></em>
                    </li>
                    <li><strong>LinkedIn</strong>: <em><a href="https://lnkd.in/dKZDtnu2">Test Automation with Python: 1
                        Introduction to Automated Testing” by HeadSpin University</a></em></li>
                    </ul>
                </div>
                </br>
                </br>
                <h3 style="text-align: center">I am looking forward to getting in touch with you :)</h3>
            </div>
        </div>
    </div>
</main>
{% include "footer.html" %}